## Next.js public environment variables

NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

## Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jftggxxzqtmmqktvnlwc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-your-anon-key

## Admin
NEXT_PUBLIC_ADMIN_KEY=agriculnet-admin-secret-2025

## App
NEXT_PUBLIC_APP_NAME=AgriculNet
NEXT_PUBLIC_APP_URL=http://localhost:3000
